.imgDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imgInput{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: contain;
  }

  button{
      background-color: #fff;
      border: 1px solid lightgrey;
      border-radius: 10px;
      margin-top: 10px;
      padding: 5px;
  }
  .upload-img{
      color: #ec4561 !important;
      font-weight: 600;
  }
}